

 <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="<%= asset_path('UATX.png') %> " alt="" width="200" height="110">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to UAT-X!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This is the only UATX-focused twitter app in the whole wide world!! congrats on finding our fantastic page, we hope you enjoy your time exploring what there is to see in our lovely minds</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Hell yeah!</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Click this if you're stoopid</button>
      </div>
    </div>
  </div>